@model PageableList<DocumentHistory>

@{
    ViewData["Title"] = "ファイル履歴";
    var dirPath = ViewBag.DirPath;
}

<nav>
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.ViewFile("")">TOP</a>
        </li>
        @if (dirPath != null)
        {
            var sb = new System.Text.StringBuilder();
            @foreach (var pathComponent in dirPath.Split('/'))
            {
                <li class="breadcrumb-item">
                    <a href="@Url.ViewFile(sb.ToString())">@pathComponent</a>
                </li>
                sb.Append('/');
            }
        }
    </ul>
</nav>

<h2>ファイル履歴</h2>

<div class="list-group">
    @foreach (var history in Model.List)
    {
        <a href="@Url.ShowFileInContainer(history.Path)" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    @history.Path.Split("/").Last()
                    @if (history is DocumentDeleted)
                    {
                        <text> が削除されました。</text>
                    }
                    else
                    {

                        <text> がアップロードされました。</text>
                    }
                </h5>
                <small class="text-nowrap">@history.Timestamp.ToRelativeString()</small>
            </div>
            <p class="mt-0 mb-1">
                <small>@(history.Path)</small>
            </p>
        </a>
    }
</div>
