@using Docms.Queries.Blobs
@model BlobEntry

@{
    ViewData["Title"] = Model.Name ?? "ファイル一覧";
    var dirPath = ViewBag.DirPath as string;
}

<nav class="rounded mb-3" style="background-color: #e9ecef">
    <div class="d-flex justify-content-between align-items-center">
        <ul class="breadcrumb bg-transparent m-0">
            <li class="breadcrumb-item">
                <a href="@Url.ViewFile("")">TOP</a>
            </li>
            @if (dirPath != null)
            {
                var sb = new System.Text.StringBuilder();
                @foreach (var pathComponent in dirPath.Split('/'))
                {
                    <li class="breadcrumb-item">
                        @if (Model is BlobContainer & sb.Append(pathComponent).ToString() == dirPath)
                        {
                            <span class="active">@pathComponent</span>
                        }
                        else
                        {
                            <a href="@Url.ViewFile(sb.ToString())">@pathComponent</a>
                        }
                    </li>
                    sb.Append('/');
                }
            }
        </ul>
        @if (User.IsInRole("Administrator"))
        {
            <div class="pr-3">
                <a href="@Url.FileHistory(dirPath)">
                    <span class="fa fa-history"></span>
                </a>
            </div>
        }
    </div>
</nav>

@if (Model is BlobContainer)
{
    <div class="list-group">
        @foreach (var entry in (Model as BlobContainer).Entries)
        {
            <div class="list-group-item d-flex justify-content-start align-items-center">
                <a name="@entry.Name" />
                @if (entry is BlobContainer)
                {
                    <div class="mr-3">
                        <i class="fa fa-2x fa-folder-o"></i>
                    </div>
                    <a href="@Url.ViewFile(entry.Path)">@entry.Name</a>
                }
                else if (entry is Blob && (entry as Blob).ContentType.StartsWith("image"))
                {
                    <div class="mr-3">
                        <i class="fa fa-2x fa-file-image-o"></i>
                    </div>
                    <a href="@Url.ViewFile(entry.Path)">@entry.Name</a>
                }
                else
                {
                    <div class="mr-3">
                        <i class="fa fa-2x fa-file-o"></i>
                    </div>
                    <a href="@Url.DownloadFile(entry.Path)">@entry.Name</a>
                }
            </div>
        }
    </div>
}
else
{
    <div class="border text-center">
        <img class="mw-100" alt="@Model.Name" src="@Url.DownloadFile(Model.Path)" />
    </div>
}
