@using Docms.Web.Application.Queries.Documents
@model Entry

@{
    ViewData["Title"] = Model.Name;
}

<nav>
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/files/">TOP</a>
        </li>
        @if (Model.ParentPath != null)
        {
            var sb = new System.Text.StringBuilder();
            @foreach (var pathComponent in Model.ParentPath.Split('/'))
            {
                <li class="breadcrumb-item">
                    <a href="~/files@(sb.Append('/').Append(pathComponent).ToString())">@pathComponent</a>
                </li>
            }
        }
        @if (@Model.Path != null && Model is Container)
        {
            <li class="breadcrumb-item">
                <a href="~/files/@Model.Path">@Model.Name</a>
            </li>
        }
    </ul>
</nav>

@if (Model is Container)
{
    <div class="list-group">
        @foreach (var entry in (Model as Container).Entries)
        {
            <div class="list-group-item d-flex justify-content-start align-items-center">
                @if (entry is Container)
                {
                    <div class="mr-3">
                        <i class="fa fa-2x fa-folder-o"></i>
                    </div>
                    <a href="~/files/@entry.Path">@entry.Name</a>
                }
                else
                {
                    <div class="mr-3">
                        <i class="fa fa-2x fa-file-o"></i>
                    </div>
                    <a href="~/files/@entry.Path">@entry.Name</a>
                }
            </div>
        }
    </div>
}
else
{
    <div>
        ファイル
    </div>
}
