@using Docms.Web.Application.Queries.Documents
@model Entry

@{
    ViewData["Title"] = Model.Name ?? "ファイル一覧";
}

<nav>
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="@Url.ViewFile("")">TOP</a>
        </li>
        @if (Model.Path != null)
        {
            var sb = new System.Text.StringBuilder();
            @foreach (var pathComponent in Model.Path.Split('/'))
            {
                <li class="breadcrumb-item">
                    @if (sb.Append('/').Append(pathComponent).ToString() == "/" + Model.Path)
                    {
                        <span class="active">@pathComponent</span>
                    }
                    else
                    {
                        <a href="@Url.ViewFile(sb.ToString())">@pathComponent</a>
                    }
                </li>
            }
        }
    </ul>
</nav>

@if (Model is Container)
{
    <div class="list-group">
        @foreach (var entry in (Model as Container).Entries)
        {
            <div class="list-group-item d-flex justify-content-start align-items-center">
                @if (entry is Container)
                {
                    <div class="mr-3">
                        <i class="fa fa-2x fa-folder-o"></i>
                    </div>
                    <a href="@Url.ViewFile(entry.Path)">@entry.Name</a>
                }
                else if (entry is Document && (entry as Document).ContentType.StartsWith("image"))
                {
                    <div class="mr-3">
                        <i class="fa fa-2x fa-file-image-o"></i>
                    </div>
                    <a href="@Url.ViewFile(entry.Path)">@entry.Name</a>
                }
                else
                {
                    <div class="mr-3">
                        <i class="fa fa-2x fa-file-o"></i>
                    </div>
                    <a href="@Url.DownloadFile(entry.Path)">@entry.Name</a>
                }
            </div>
        }
    </div>
}
else
{
    <div class="border text-center">
        <img class="mw-100" alt="@Model.Name" src="@Url.DownloadFile(Model.Path)" />
    </div>
}
