@model Docms.Web.Data.Document

@{
    ViewData["Title"] = Model.FileName + " 削除";
}

<h2>@Model.FileName を削除します</h2>

<h4>本当に削除してもよろしいですか？</h4>
<div class="row">
    <div class="col-md-6">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FileName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FileName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UploadedAt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UploadedAt)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">削除する</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">戻る</a>
</div>
