@model DocumentViewModel

@{
    ViewData["Title"] = Model.FileName;
}

<h2>@Model.FileName</h2>

<hr />

<div>
    <a href="@Model.Links.Blob">
        <img src="@Model.Links.Thumbnail" alt="@Model.FileName" />
    </a>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd>
            @foreach(var tag in Model.Tags)
            {
                <a href="@tag.Links.List" class="btn btn-dark py-0 mr-3">@tag.Name</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a href="@Model.Links.Edit">Edit</a> |
    <a href="@Model.Links.Delete">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
