@model DocumentViewModel

@{
    ViewData["Title"] = Model.FileName;
}

<h2>@Model.FileName</h2>

<hr />

<div>
    <img src="@Model.Links.Thumbnail" alt="@Model.FileName" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadedAt)
        </dd>
    </dl>
    <a href="@Model.Links.Blob" class="btn btn-primary">ダウンロード</a>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
