@model DocumentViewModel

@{
    ViewData["Title"] = Model.FileName;
    var referer = ViewData["Referer"] as string;
}

<h2>@Model.FileName</h2>

<hr />

@if ((referer ?? "").ToUpperInvariant().Contains("/SEARCH"))
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@referer">検索結果</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.FileName</li>
        </ol>
    </nav>
}

<div>
    <a href="@Model.Links.Blob">
        <img src="@Model.Links.Thumbnail" alt="@Model.FileName" class="mw-100" />
    </a>

    <div class="btn-toolbar my-2 mx-0" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <a href="@Model.Links.Blob" class="btn btn-outline-dark">
                <span class="oi oi-data-transfer-download"></span> ダウンロード
            </a>
            <a href="@Model.Links.Delete" class="btn btn-outline-dark">
                <span class="oi oi-trash"></span> 削除
            </a>
        </div>
    </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
            <a href="@Model.Links.EditFileName" class="badge badge-light">
                <span title="ファイル名を変更する" class="oi oi-pencil"></span><span class="sr-only">ファイル名を変更する</span>
            </a>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
            <a href="@Model.Links.AddTag" class="badge badge-light">
                <span title="タグを追加する" class="oi oi-plus"></span><span class="sr-only">タグを追加する</span>
            </a>
        </dt>
        <dd class="py-2">
            @foreach (var tag in Model.Tags)
            {
                <span class="badge badge-dark p-2 my-2 mr-2 font-weight-normal" style="font-size:0.9rem">
                    <span class="oi oi-tag align-middle"></span>
                    <span class="align-middle">@tag.Name</span>
                    <a href="@tag.Links.Delete" class="badge badge-dark align-middle">
                        <span title="タグを削除する" class="oi oi-delete"></span><span class="sr-only">タグを削除する</span>
                    </a>
                </span>
            }
        </dd>
    </dl>
</div>
