@model HomeViewModel

@{
    ViewData["Title"] = "ホームページ";
}

<div class="d-flex">
    @foreach (var preferredTag in Model.PreferredTags)
    {
        <a class="btn btn-outline-success mx-2" asp-action="Index" asp-controller="Search" asp-route-t="@preferredTag.Id">
            <span class="oi oi-tag"></span>
            @preferredTag.Name
        </a>
    }
</div>
<div class="d-flex">
    @foreach (var document in Model.RecentUploadedDocuments)
    {
        <div class="card box-shadow mx-2 my-3">
            <a href="@(document.Links.Self)">
                <img class="card-img-top" alt="@document.FileName" src="@document.Links.Thumbnail" data-holder-rendered="true">
            </a>
            <div class="card-body py-2">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text">@document.FileName</p>
                    <div class="btn-group">
                        <a href="@(document.Links.Self)" class="btn btn-sm btn-outline-secondary">詳細</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
