@model Docms.Web.Data.Tag

@{
    ViewData["Title"] = Model.Name + " タグの詳細";
}

<h2>
    @Model.Name
    <a class="btn btn-sm btn-outline-secondary" asp-action="EditName" asp-route-id="@Model.Id">
        <span class="oi oi-pencil"></span>
        <span class="sr-only">タグの名前を変更する</span>
    </a>
</h2>
<h4 class="my-3">@Html.DisplayNameFor(model => model.Metadata)</h4>
<hr />

<p>
    <a class="btn btn-success"  asp-action="CreateMetadata" asp-route-id="@Model.Id">
        <span class="oi oi-plus"></span>
        新規作成
    </a>
</p>
<table class="table table-light border">
    <thead class="thead-light">
        <tr>
            <th class="p-3" scope="col">
                @Html.DisplayNameFor(model => model.Metadata.First().MetaKey)
            </th>
            <th class="p-3" scope="col">
                @Html.DisplayNameFor(model => model.Metadata.First().MetaValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var meta in Model.Metadata)
        {
            <tr>
                <td>@meta.MetaKey</td>
                <td>
                    @meta.MetaValue
                </td>
                <td class="text-right">
                    <a class="btn btn-sm btn-outline-secondary" asp-action="EditMetadataMetaValue" asp-route-id="@Model.Id" asp-route-metaId="@meta.Id">
                        <span class="oi oi-pencil"></span>
                        <span class="d-none d-sm-inline">編集</span>
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" asp-action="DeleteMetadata" asp-route-id="@Model.Id" asp-route-metaId="@meta.Id">
                        <span class="oi oi-trash"></span>
                        <span class="d-none d-sm-inline">削除</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">一覧に戻る</a>
</div>