@using Docms.Queries.DeviceAuthorization
@model IEnumerable<DeviceGrant>

@{
    ViewData["Title"] = "端末管理";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

<h2>端末管理</h2>

<table class="table table-sm">
    <thead>
        <tr>
            <th>使用可否</th>
            <th>端末ID</th>
            <th>最終使用ユーザ</th>
            <th>最終アクセス日時</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var device in Model)
        {
            <tr>
                <td class="text-center">
                    @if (device.IsGranted)
                    {
                        <div class="w-50">
                            <i class="fa fa-check-circle text-success"></i>
                        </div>
                    }
                </td>
                <td>@device.DeviceId</td>
                <td>@device.LastAccessUserName</td>
                <td>@device.LastAccessTime.ToLocalTime()</td>
                <td>
                    @if (device.IsGranted)
                    {
                        <form asp-action="RevokeDevice">
                            <input type="hidden" name="DeviceId" value="@device.DeviceId" />
                            <button type="submit" class="btn btn-sm btn-outline-danger">拒否</button>
                        </form>
                    }
                    else
                    {
                        <form asp-action="GrantDevice">
                            <input type="hidden" name="DeviceId" value="@device.DeviceId" />
                            <button type="submit" class="btn btn-sm btn-outline-success">許可</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

