@model TagSelectionsViewModel

@{
    var searchTags = ViewData["SearchTags"] as IEnumerable<SearchTagViewModel>;
}

<form asp-action="Index" asp-controller="Search" method="get">
    <div class="card mb-2">
        <div class="card-body p-3">
            @foreach (var tag in searchTags)
            {
                <span class="badge badge-success p-2 my-2 mr-2 font-weight-normal" style="font-size:0.9rem">
                    <i class="fa fa-tag align-middle"></i>
                    <span class="align-middle">@tag.Name</span>
                    <a href="@tag.Links.Delete" class="badge badge-success align-middle">
                        <i class="fa fa-times p-0"></i>
                    </a>
                </span>
            }

            @{ var firstPanel = Model.Panels.First(); }
            @foreach (var panel in Model.Panels)
            {
                @if (panel != firstPanel)
                {
                    <hr class="my-2" />
                }
                <button class="btn btn-block bg-transparent text-left" type="button" data-toggle="collapse" data-target="#collapse-@panel.Title" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="category-title card-title m-0">@panel.Title</h5>
                </button>
                <div id="collapse-@panel.Title" class="collapse">
                    @foreach (var tag in panel.Tags)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="t" value="@tag.Id" id="check-@tag.Id" @if (searchTags.Any(st => st.Id == tag.Id)) { <text> checked</text> }>
                            <label class="form-check-label" for="check-@tag.Id">
                                @tag.Name
                            </label>
                        </div>
                    }
                </div>
            }
            <div class="mt-3">
                <button type="submit" class="btn btn-success">検索</button>
            </div>
        </div>
    </div>
</form>