@model SearchResultViewModel

@{
    ViewData["Title"] = "検索";
    var tagSelections = ViewData["TagSelections"] as TagSelectionsViewModel;
    var referer = Html.UrlEncoder.Encode(Model.Links.Self);
    ViewData["SearchTags"] = Model.SearchTags;
}

<h2>
    検索
    @if (!string.IsNullOrEmpty(Model.SearchKeyword))
    {
        <small>(キーワード: @Model.SearchKeyword)</small>
    }
</h2>
<hr />
<div class="row">
    <div class="col-sm-4 col-md-3">
        @await Html.PartialAsync("_TagSelections", tagSelections)
    </div>
    <div class="col-sm-8 col-md-9">
        @if (!Model.Results.Any())
        {
            <p>検索結果は見つかりませんでした。</p>
        }
        else
        {
            <div class="row search-result">
                @foreach (var document in Model.Results)
                {
                    <div class="col-md-auto">
                        <div class="card box-shadow my-2">
                            <a href="@(document.Links.Self + "?r=" + referer)">
                                <img class="card-img-top" alt="@document.FileName" src="@document.Links.SmallThumb" data-holder-rendered="true">
                            </a>
                            <div class="card-body">
                                <p class="card-text">@document.FileName</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.TotalPages > 1)
            {
                <nav aria-label="ページの移動">
                    <ul class="pagination">
                        <li class="page-item @(string.IsNullOrEmpty(Model.Links.Prev) ? "disabled" : "")">
                            <a class="page-link" href="@Model.Links.Prev" aria-label="前へ">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">前へ</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.Page ? "active" : "" )"><a class="page-link" href="@(Model.Links.ForPage(i))">@i</a></li>
                        }
                        <li class="page-item @(string.IsNullOrEmpty(Model.Links.Next) ? "disabled" : "")">
                            <a class="page-link" href="@Model.Links.Next" aria-label="次へ">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">次へ</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        }
    </div>
</div>
